/*   Stylesheet for Quicklinks   */
ul.quicklink {
   margin:0px; padding:0px; list-style-type:none; }
ul.quicklink li {
   float:left; box-sizing:border-box;
   margin:0px 0px 0px -1px; padding:4px 8px 4px  8px;
   white-space:nowrap; text-align:center; ;
   background-color:rgb(204,103, 51); color:rgb(255,255,255);
   border:solid 1px rgb(255,190, 60); border-radius:0px; }
ul.quicklink li div.quicklink_popup {
   position:absolute; margin:0px 0px 0px -8px; padding:4px 0px 4px 0px;
   text-align:left; background-color:rgb(240,120, 60);
   border-style:none; overflow:hidden; visibility:hidden; }
ul.quicklink li div.quicklink_popup a {
   padding:0px 4px 0px 4px; text-decoration:none;
   font-size:0.8em; color:rgb(255,255,255); }
/*   */
/*   for backend functions   */
table.ql_inherit { background-color:inherit; }
td.ql_indent, div.ql_indent { padding-left:20px; }
td.ql_indent_r  { padding-left:20px; text-align:right; }
td.ql_nowrap    { padding-left:10px; white-space:nowrap; }
td.ql_smaller, span.ql_smaller { padding-left:10px; white-space:nowrap; font-size:smaller; }
input.ql_show   { width:140px; }
input.ql_show_h { width:140px; height:1.5em; }
input.ql_width  { width:60px; text-align:right; }