/*   Stylesheet for Quicklinks   */
ul.quicklink {
    margin:0px; padding:0px; list-style-type:none; }
ul.quicklink li {
    width:auto; float:left; box-sizing:border-box;
    margin:0px 0px 0px -1px; padding:4px 8px 4px 8px;
    white-space:nowrap; text-align:center; font-size:inherit;
    background-color:rgb(204,102, 51); color:rgb(255,255,255);
    border:solid 1px rgb(255,190, 60); border-radius:0px; }
ul.quicklink li div.quicklink_popup {
    width:auto; position:absolute;
    margin:1px 0px 0px -8px; padding:4px 0px 4px 0px;
    text-align:left; background-color:rgb(240,120, 60);
    border-style:none; overflow:hidden; visibility:hidden; }
ul.quicklink li div.quicklink_popup a {
    padding:0px 4px 0px 4px; text-decoration:none;
    font-size:smaller; color:rgb(255,255,255); }
@media screen and (max-width:35em) {
    ul.quicklink li { width:auto; padding:4px 8px 4px 8px; }
    ul.quicklink li div.quicklink_popup { margin:1px 0px 0px -8px; }
    }

/*   for backend functions   */
table.ql_inherit   { background-color:inherit; }
td.ql_indent, div.ql_indent { padding-left:20px; }
td.ql_right, input.ql_right { text-align:right; }
td.ql_nowrap       { white-space:nowrap; }
td.ql_center       { text-align:center; }
td.ql_smaller, span.ql_smaller { width:80px; font-size:smaller; }
input.ql_width     { width:60px; }
input.ql_height    { height:1.5em; }
input.ql_extwidth  { width:600px; }
p.ql_error         { color:red; }